---
import type { CollectionEntry, CollectionKey } from "astro:content";
import { getCollection } from "astro:content";
import { Temporal } from "temporal-polyfill";
import Link from "@/components/Link.astro";
import LocalLink from "@/components/LocalLink.astro";
import WaysLayout from "@/layouts/WaysLayout.astro";

type AnyEntryMap = CollectionEntry<CollectionKey>;

function toDate(str: string): Temporal.PlainDate {
	return Temporal.PlainDate.from(str);
}

// Generate a new path for every collection entry
// eslint-disable-next-line @typescript-eslint/explicit-function-return-type
export async function getStaticPaths() {
	const waysEntries = await getCollection("ways");
	return waysEntries.map(entry => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

interface Props {
	entry: AnyEntryMap;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<WaysLayout title={entry.data.title} description={entry.data.description}>
	<header class="ways" slot="header">
		<h1>{entry.data.title}</h1>
		<h2
			><time datetime={entry.data.date}
				>{toDate(entry.data.date).toLocaleString("en-US", { dateStyle: "full" })}</time
			></h2
		>
	</header>

	<Content />

	<footer slot="footer">
		<p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
			<!-- prettier-ignore -->
			<LocalLink property="dct:title" rel="cc:attributionURL" fileName="ways">Ways</LocalLink>
			by <!-- prettier-ignore -->
			<LocalLink
				rel="cc:attributionURL dct:creator"
				property="cc:attributionName">Average Helper</LocalLink>
			is marked with <!-- prettier-ignore -->
			<Link
				href="http://creativecommons.org/publicdomain/zero/1.0"
				relLicense
				style="display:inline-block;"
			>CC0 1.0<img class="cc" src="/images/cc.svg" alt="" /><img
					class="cc"
					src="/images/zero.svg"
					alt=""
				/>
			</Link>
		</p>

		<p>
			<LocalLink fileName="ways">
				<strong>Return to Ways</strong>
			</LocalLink>
		</p>
	</footer>
</WaysLayout>
