---
import { getCollection } from "astro:content";
import { Temporal } from "temporal-polyfill";
import WaysLayout from "@/layouts/WaysLayout.astro";
import LocalLink from "@/components/LocalLink.astro";

const waysEntries = (await getCollection("ways")).sort((a, b) => {
	// Reverse-chronologically
	return Temporal.PlainDate.compare(b.data.date, a.data.date);
});

function toDate(str: string): Temporal.PlainDate {
	return Temporal.PlainDate.from(str);
}
---

<WaysLayout>
	<h1>Ways</h1>
	<ul>
		{
			waysEntries.map(w => (
				// eslint-disable-next-line @typescript-eslint/no-unsafe-return
				<li>
					<LocalLink fileName={`ways/${w.slug}`}>{w.data.title}</LocalLink>,
					{toDate(w.data.date).toLocaleString("en-US", { dateStyle: "medium" })}
				</li>
			))
		}
	</ul>
</WaysLayout>
