/** General style **/

body * {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	/* Keep the footer on the bottom of the window */
	height: 100vh;
	display: flex;
	flex-direction: column;
}

main.content {
	margin: 0 auto;
	padding: 1em;
	max-width: 800px;
	line-height: 2;
	flex-grow: 1;
}

main.ways.content {
	max-width: 680px;
	padding: 0;
}

header {
	margin: 0 auto;
	padding: 1em;
	width: 100%;
	max-width: 800px;
	line-height: 2;
	border-bottom: 2px solid var(--separator);
}

header.ways {
	border: none;
	max-width: 680px;
	padding: 0;
	margin-bottom: 42px;
}

header ul,
footer ul {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
}

header ul li {
	list-style-type: none;
}

footer {
	width: fit-content;
	min-width: 25%;
	margin: 0 auto;
	padding: 21px;
	text-align: center;
	border-top: 2px solid var(--separator);
}

footer ul.links {
	flex-flow: row nowrap;
	justify-content: center;
}

footer ul.links li {
	list-style-type: none;
	width: fit-content;
	font-weight: bold;
}

footer ul.links li:not(:last-of-type) {
	margin-right: 21px;
	padding-right: 21px;
	border-right: 2px solid var(--separator);
}

@media only screen and (max-width: 455px) {
	footer {
		width: 90%;
		margin: 0 16px;
		padding: 0;
	}

	footer ul.links {
		flex-flow: column wrap;
	}

	footer ul.links li {
		margin: 21px;
		padding: initial;
	}

	footer ul.links li:not(:last-of-type) {
		border: none;
	}
}

/** Navigation area **/

nav {
	padding: 1em 0;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
}

nav li {
	list-style-type: none;
}

nav a {
	position: relative;
	padding: 21px 16px;
	border-radius: 6px;
	overflow: hidden;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

nav a.disabled {
	text-decoration: none;
	pointer-events: none;
}

nav a.current,
footer a.current {
	color: var(--secondary-label);
	text-decoration: none;
}

@media (hover: hover) {
	/* Fancy overlapping hover background a la macOS status bar */
	nav a:hover::after {
		content: "";
		z-index: -1;
		position: absolute;
		top: 5%;
		left: -5%;
		width: 110%;
		height: 90%;
		background-color: var(--navbar-button-highlight);
		border-radius: 8px;
		cursor: pointer;
		pointer-events: none;
	}
}

/** Mobile styles **/

@media only screen and (max-width: 450px) {
	main.content {
		margin: 0 auto;
		padding: 1.2em;
	}

	nav ul {
		justify-content: center;
	}
}

@media only screen and (max-width: 350px) {
	main.content {
		width: 100%;
	}

	nav a {
		padding: 21px 12px;
	}
}

/** Tablet styles **/

@media only screen and (min-width: 451px) and (max-width: 960px) {
	main.content {
		margin: 0 auto;
	}
}

.svg {
	fill: currentColor;
}

main.contact h1 {
	width: 100%;
	text-align: center;
}

main.contact p {
	text-align: center;
}

@media only screen and (max-width: 451px) {
	main.contact h1 {
		text-align: inherit;
	}
}

main.contact ul {
	padding-left: 0;
	list-style-type: none;
}

main.contact ul li > a {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	font-weight: bold;
	min-height: 60px;
	padding: 8px 10px;
	font-family: var(--code-font-family);
}

main.contact ul li > a.plain {
	font-family: inherit;
}

@media only screen and (max-width: 300px) {
	main.contact ul li > a {
		font-size: small;
	}
}

/* Fancy overlapping hover background a la macOS status bar */
main.contact ul li > a:hover::after {
	content: "";
	z-index: -1;
	position: absolute;
	top: -5%;
	left: 0;
	width: 100%;
	height: 110%;
	background-color: var(--navbar-button-highlight);
	border-radius: 8px;
	cursor: pointer;
	pointer-events: none;
}

main.contact ul li img,
main.contact ul li svg {
	width: 52px;
	padding: 4px 0;
	margin-right: 24px;
	color: var(--label);
}

@media only screen and (max-width: 451px) {
	main.contact ul li img,
	main.contact ul li svg {
		width: 40px;
		margin-right: 18px;
	}
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Tooltip on hover */
/* Based on https://stackoverflow.com/a/25813336 and https://stackoverflow.com/a/25797505 */

[data-tooltip] {
	position: relative;
}

@media (hover: hover) {
	[data-tooltip]::before {
		content: attr(data-tooltip);

		position: absolute;
		top: -120%;
		left: 50%;
		width: max-content;
		max-width: 300px;
		transform: translateX(-50%);

		pointer-events: none;
		opacity: 0;
		-webkit-transition: opacity 0.15s ease-in-out;
		-moz-transition: opacity 0.15s ease-in-out;
		-ms-transition: opacity 0.15s ease-in-out;
		-o-transition: opacity 0.15s ease-in-out;
		transition: opacity 0.15s ease-in-out;

		display: block;
		font-size: 16px;
		line-height: 21px;
		background: var(--secondary-background);
		padding: 3px 5px;
		border: 1px solid var(--separator);
		box-shadow: 3px 5px 7px var(--transparent-gray);
		border-radius: 6px;
		z-index: 10;
	}

	[data-tooltip]:hover::before {
		opacity: 1;
	}
}
