/** General style **/

body * {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

main.content {
	margin: 0 auto;
	padding: 1em;
	max-width: 600pt;
	line-height: 2;
}

header {
	margin: 0 auto;
	padding: 1em;
	max-width: 600pt;
	line-height: 2;
	border-bottom: 1pt solid var(--separator);
}

header ul,
footer ul {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
}

header ul li {
	list-style-type: none;
}

footer {
	width: fit-content;
	margin: 0 auto;
	padding: 0 16pt;
	padding-top: 16pt;
	text-align: center;
}

footer ul.links {
	flex-flow: row nowrap;
	justify-content: center;
}

footer ul.links li {
	list-style-type: none;
	width: fit-content;
	font-weight: bold;
}

footer ul.links li:not(:last-of-type) {
	margin-right: 16pt;
	padding-right: 16pt;
	border-right: 2px solid var(--separator);
}

/** Visual hardbreaks **/

hr {
	max-width: 75%;
	color: var(--separator);
}

/** Navigation area **/

nav {
	padding: 1em 0;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
}

nav li {
	list-style-type: none;
}

nav a {
	position: relative;
	padding: 16pt 12pt;
	border-radius: 3pt;
	overflow: hidden;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

nav a.disabled {
	text-decoration: none;
	pointer-events: none;
}

nav a.current {
	color: var(--secondary-label);
	text-decoration: none;
}

@media (hover: hover) {
	/* Fancy overlapping hover background a la macOS status bar */
	nav a:hover::after {
		content: "";
		z-index: -1;
		position: absolute;
		top: 5%;
		left: -5%;
		width: 110%;
		height: 90%;
		background-color: var(--navbar-button-highlight);
		border-radius: 4pt;
		cursor: pointer;
		pointer-events: none;
	}
}

/** Showcase **/

ul.showcase {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

ul.showcase li {
	list-style: none;
	display: block;
	padding: 8pt;
	width: 50%;
}

/* Return to list layout when small */
@media (max-width: 768px) {
	ul.showcase li {
		padding: 8pt 4pt;
		width: 100%;
	}
}

/** Mobile styles **/

@media only screen and (max-width: 450px) {
	main.content {
		margin: 0 auto;
		padding: 2em;
	}

	nav ul {
		justify-content: center;
	}
}

/** Tablet styles **/

@media only screen and (min-width: 451px) and (max-width: 960px) {
	main.content {
		margin: 0 auto;
		padding: 2em;
	}
}

.svg {
	fill: currentColor;
}

ul#contact {
	padding-left: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

ul#contact li {
	border: none;
}

ul#contact li > a {
	padding: 12pt;
}

ul#contact li img,
ul#contact li svg {
	width: 18pt;
	height: 18pt;
	margin: 16pt 6pt;
	color: var(--label);
	cursor: pointer;
}

@media (prefers-color-scheme: light) {
	img.logo.forgejo {
		content: url("/images/logo-forgejo-light.svg");
	}

	img.logo.fedi {
		content: url("/images/logo-fediverse-light.svg");
	}
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Tooltip on hover */
/* Based on https://stackoverflow.com/a/25813336 and https://stackoverflow.com/a/25797505 */

[data-tooltip] {
	position: relative;
}

[data-tooltip]::before {
	content: attr(data-tooltip);

	position: absolute;
	top: -120%;
	left: 50%;
	width: max-content;
	max-width: 220pt;
	transform: translateX(-50%);

	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity 0.15s ease-in-out;
	-moz-transition: opacity 0.15s ease-in-out;
	-ms-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;

	display: block;
	font-size: 12pt;
	line-height: 16pt;
	background: var(--secondary-background);
	padding: 2pt 4pt;
	border: 1pt solid var(--separator);
	box-shadow: 2pt 4pt 5pt var(--transparent-gray);
	border-radius: 4pt;
	z-index: 10;
}

@media (hover: hover) {
	[data-tooltip]:hover::before {
		opacity: 1;
	}
}
