html {
	font-family: var(--fontFamily);
	color: var(--label);
	background-color: var(--background);
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: auto;
}

strong,
.heading {
	font-weight: bold;
}

a {
	color: var(--link);
}

a.hint {
	color: var(--label);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	color: var(--label);
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.4rem;
	font-weight: 600;
}

h4 {
	font-size: 1.2rem;
	font-weight: 600;
}

h5 {
	font-size: 1.1rem;
	font-weight: 600;
}

h6 {
	font-size: 1rem;
	font-weight: 800;
}

header.ways h2 {
	font-size: large;
}

p {
	margin-top: 0;
	margin-bottom: 1.2rem;
	line-height: 2;
	color: var(--label);
}

hr {
	width: 75%;
	color: var(--separator);
	margin-bottom: 1.2rem;
}

.ways hr {
	width: 33%;
}

ul,
ol {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-top: 0;
	margin-bottom: 0;
}

blockquote {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-left: 3pt solid var(--separator);
	padding-left: 8pt;
	font-style: italic;
}

code {
	background-color: var(--cloud);
	vertical-align: bottom;
	padding: 2px 4px;
	border-radius: 4px;
	color: var(--label-code);
}

.emoji {
	/* Copied from styles at https://unicode.org/emoji/charts/full-emoji-list.html#2764 */
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus,
		Code2000, Code2001, Code2002, Musica, serif, LastResort;
}

.float--right {
	float: right;
}

.float--left {
	float: left;
}
