html {
	font-family: var(--font-family);
	color: var(--label);
	background-color: var(--background);
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: auto;
}

strong,
.heading {
	font-weight: bold;
}

a {
	color: var(--link);
}

@media print {
	/* Links should postfix their href in print */
	a[href^="http"]:after {
		content: " (" attr(href) ")";
		color: var(--secondary-label);
	}

	/* Links should look like normal text in print */
	a {
		color: var(--label);
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	color: var(--label);
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.4rem;
	font-weight: 600;
}

h4 {
	font-size: 1.2rem;
	font-weight: 600;
}

h5 {
	font-size: 1.1rem;
	font-weight: 600;
}

h6 {
	font-size: 1rem;
	font-weight: 800;
}

@media only screen and (max-width: 350px) {
	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	h4 {
		font-size: 1.1rem;
	}

	h5 {
		font-size: 1rem;
	}

	h6 {
		font-size: 0.9rem;
	}
}

header.ways h2 {
	font-size: large;
}

p {
	margin-top: 0.6rem 0;
	line-height: 2;
	color: var(--label);
}

hr {
	width: 75%;
	color: var(--separator);
	margin: 0.6rem 0;
}

.ways hr {
	width: 33%;
}

ul,
ol {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-top: 0;
	margin-bottom: 0;
}

blockquote {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-left: 4px solid var(--separator);
	padding-left: 10px;
	font-style: italic;
}

.markdown-alert {
	padding: 0 1em;
	margin: 16px 0;
	border-left: 4px solid var(--github-alert-default-color);
}

.markdown-alert .markdown-alert-title {
	color: var(--github-alert-default-color);
}

.markdown-alert-note,
.markdown-alert-tip {
	border-left-color: var(--github-alert-note-color);
}

.markdown-alert-note .markdown-alert-title,
.markdown-alert-tip .markdown-alert-title {
	color: var(--github-alert-note-color);
}

.markdown-alert-important {
	border-left-color: var(--github-alert-important-color);
}

.markdown-alert-important .markdown-alert-title {
	color: var(--github-alert-important-color);
}

.markdown-alert-warning {
	border-left-color: var(--github-alert-warning-color);
}

.markdown-alert-warning .markdown-alert-title {
	color: var(--github-alert-warning-color);
}

.markdown-alert-caution {
	border-left-color: var(--github-alert-caution-color);
}

.markdown-alert-caution .markdown-alert-title {
	color: var(--github-alert-caution-color);
}

.markdown-alert-title {
	display: inline-flex;
	margin-bottom: 4px;
	align-items: center;
	font-weight: bold;
}

.markdown-alert-title > svg {
	margin-right: 8px;
}

code:not([class*="language-"]) {
	padding: 2px 4px;
	border-radius: 4px;
	font-family: var(--code-font-family);
	background-color: var(--background-code);
	color: var(--label-code);
}

p code:not([class*="language-"]) {
	font-size: 14px;
}

a code:not([class*="language-"]) {
	color: var(--link);
}

pre[class*="language-"] {
	border-radius: 6px;
}

img.cc {
	height: 22px !important;
	margin-left: 3px;
	vertical-align: text-bottom;
}

.emoji {
	/* Copied from styles at https://unicode.org/emoji/charts/full-emoji-list.html#2764 */
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus,
		Code2000, Code2001, Code2002, Musica, serif, LastResort;
}

.float--right {
	float: right;
}

.float--left {
	float: left;
}

/* Announce strikethrough to screen readers */
/* See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del#accessibility_concerns */
del::before,
del::after {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

del::before {
	content: " [strikethrough start] ";
}

del::after {
	content: " [strikethrough end] ";
}
