---
import type { ContactInfo, ReadonlyNonEmptyArray } from "@/@types/contact";
import Layout from "@/layouts/Layout.astro";
import LocalLink from "@/components/LocalLink.astro";
import SocialLink from "@/components/SocialLink.astro";

const profiles = [
	// In rough order of my funding preference:
	{
		platform: "kofi",
		handle: "ko-fi.com/avghelper",
		href: "https://ko-fi.com/avghelper",
	},
	{
		platform: "liberapay",
		handle: "liberapay.com/average",
		href: "https://liberapay.com/average",
	},
	{
		platform: "paypal",
		handle: "paypal:AverageHelper",
		href: "https://www.paypal.com/donate/?hosted_button_id=BAR7E555H227A",
	},
] as const satisfies ReadonlyNonEmptyArray<ContactInfo>;
---

<Layout contentClass="content contact">
	<h1 id="how-to-fund-me">How to fund me</h1>
	<ul>
		{
			profiles.map(profile => (
				// eslint-disable-next-line @typescript-eslint/no-unsafe-return
				<li>
					<SocialLink profile={profile} />
				</li>
			))
		}
	</ul>
	<p class="align--center">See also ways to <LocalLink fileName="contact">contact me</LocalLink>.</p
	>
</Layout>
