---
import Layout from "@/layouts/Layout.astro";
import LocalLink from "@/components/LocalLink.astro";
---

<Layout>
	<h1>Error 404: Page Not Found</h1>
	<p><LocalLink>Return home</LocalLink></p>
</Layout>
