---
import ExternalLink from "@/components/ExternalLink.astro";
import Layout from "@/layouts/Layout.astro";
import Logo from "@/components/Logo.astro";
---

<Layout contentClass="content contact">
	<h1 id="how-to-reach-me">How to reach me</h1>
	<ul>
		<li>
			<ExternalLink href="https://matrix.to/#/@average:average.name">
				<Logo name="matrix" />
				<span>@average:average.name</span>
			</ExternalLink>
		</li>
		<li>
			<ExternalLink href="https://average.name/@average">
				<Logo name="fedi" />
				<span>@average@average.name</span>
			</ExternalLink>
		</li>
		<li>
			<ExternalLink href="https://discordapp.com/users/498477215931957258">
				<Logo name="discord" />
				<span>discord.com:avghelper</span>
			</ExternalLink>
		</li>
		<li>
			<ExternalLink href="#" class="plain">
				<Logo name="phone" />
				<span>Wouldn't you like to know?</span>
			</ExternalLink>
		</li>
	</ul>
</Layout>
