---
import ExternalLink from "@/components/ExternalLink.astro";
import Layout from "@/layouts/Layout.astro";
import Logo from "@/components/Logo.astro";

const socials = [
	{
		platform: "matrix",
		handle: "@average:average.name",
		href: "https://matrix.to/#/@average:average.name",
		plain: false,
	},
	{
		platform: "fedi",
		handle: "@average@average.name",
		href: "https://average.name/@average",
		plain: false,
	},
	{
		platform: "discord",
		handle: "discord.com:avghelper",
		href: "https://discordapp.com/users/498477215931957258",
		plain: false,
	},
	{
		platform: "phone",
		handle: "Wouldn't you like to know?",
		href: "#",
		plain: true,
	},
] as const;
---

<Layout contentClass="content contact">
	<h1 id="how-to-reach-me">How to reach me</h1>
	<ul>
		{
			socials.map(s => (
				// eslint-disable-next-line @typescript-eslint/no-unsafe-return
				<li>
					<ExternalLink href={s.href} class={s.plain ? "plain" : null}>
						<Logo name={s.platform} />
						<span>{s.handle}</span>
					</ExternalLink>
				</li>
			))
		}
	</ul>
</Layout>
