---
import type { ContactInfo, ReadonlyNonEmptyArray } from "@/@types/contact";
import Layout from "@/layouts/Layout.astro";
import LocalLink from "@/components/LocalLink.astro";
import SocialLink from "@/components/SocialLink.astro";

const profiles = [
	// In rough order of my contact preference:
	{
		platform: "signal",
		// Signal usernames are designed to be ephemeral, so sharing my "stable" one here doesn't make much sense
		handle: "Ask on another platform",
		href: "https://signal.org/download/",
		note: true,
		notMe: true,
	},
	{
		platform: "matrix",
		handle: "@average:average.name",
		href: "https://matrix.to/#/@average:average.name",
	},
	{
		platform: "fedi",
		handle: "@average@average.name",
		href: "https://average.name/@average",
	},
	{
		platform: "discord",
		handle: "avghelper:discord.com",
		href: "https://discordapp.com/users/498477215931957258",
	},
	{
		platform: "phone",
		handle: "Wouldn't you like to know?",
		note: true,
	},
] as const satisfies ReadonlyNonEmptyArray<ContactInfo>;
---

<Layout contentClass="content contact">
	<h1 id="how-to-reach-me">How to reach me</h1>
	<ul>
		{
			profiles.map(profile => (
				// eslint-disable-next-line @typescript-eslint/no-unsafe-return
				<li>
					<SocialLink profile={profile} />
				</li>
			))
		}
	</ul>
	<p class="align--center">See also ways to <LocalLink fileName="support">support me</LocalLink>.</p
	>
</Layout>
