---
import HintLink from "@/components/HintLink.astro";
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
import ProjectShowcase from "@/components/ProjectShowcase.astro";
---

<Layout>
	<h1 id="about">About Myself</h1>
	<p>
		I go by "Average Helper" online, partly because my name is super generic. An average name,
		really. I've been doing software things since 2011. I try to be helpful where I can, especially
		to write respectful software.
	</p>

	<hr />

	<h2 id="projects">Stuff I do for fun</h2>
	<p>
		Here's just a few things I worked on myself that I'm proud of. The code is spread around
		<Link href="https://git.average.name/AverageHelper">my Forgejo instance</Link>,
		<Link href="https://codeberg.org/AverageHelper">Codeberg</Link>, and
		<Link href="https://github.com/AverageHelper">GitHub</Link>.
	</p>

	<ul>
		<li>
			<ProjectShowcase href="https://github.com/AverageHelper/Gamgee" name="Gamgee">
				A fun little Discord bot to help manage a music queue for public DJ events. Written in
				<HintLink href="https://www.typescriptlang.org">TypeScript</HintLink>.
			</ProjectShowcase>
		</li>
		<li>
			<ProjectShowcase href="https://codeberg.org/AverageHelper/meta-comments" name="meta-comments">
				The first VS Code plugin I ever published! It decorates code based on specially-formatted
				comments.
			</ProjectShowcase>
		</li>
		<li>
			<ProjectShowcase href="https://github.com/AverageHelper/ItemEncryptor" name="ItemEncryptor">
				A <HintLink href="https://www.swift.org">Swift</HintLink> package to make data encryption easy.
				I use this in some of my smaller projects to facilitate end-to-end encryption of sensitive data.
			</ProjectShowcase>
		</li>
		<li>
			<ProjectShowcase href="https://recorded.finance" name="Recorded Finance">
				An end-to-end encrypted finance app for keeping track of account balances. I had a version
				of this written for iOS in Swift, but I've began to port that project to the web for better
				cross-platform compatibility and accessibility. The project is still in its infant stages,
				with several front-end glitches I want to fix before I "release" the project into the wild.
				The front-end is written in
				<HintLink href="https://svelte.dev">Svelte</HintLink>, with TypeScript on the front- and
				back-end.
			</ProjectShowcase>
		</li>
		<li>
			<ProjectShowcase
				href="https://apps.apple.com/us/app/trump-donald/id1036041535"
				name="Trump Donald"
			>
				An iOS application based on the game
				<HintLink href="https://en.wikipedia.org/wiki/Whac-A-Mole">Whac-a-mole</HintLink>.
			</ProjectShowcase>
		</li>
		<li>
			<ProjectShowcase href="https://blog.average.name" name="My blog">
				An experiment to see how GitHub Pages work. I post ramblings there from time to time. The
				posts are written in <HintLink href="https://www.markdownguide.org">Markdown</HintLink>, and
				the site is generated automagically using
				<HintLink href="https://www.zola.com">Zola</HintLink>.
			</ProjectShowcase>
		</li>
	</ul>

	<hr />

	<h2 id="experience">Stuff I get paid for</h2>
	<p>
		My personal work is mainly with open-source projects and mobile applications. Since starting at
		<Link href="https://inventoryshield.com">Inventory Shield, LLC</Link>
		in 2018, I began working with web technologies. Inventory Shield's tech stack is TypeScript and
		<HintLink href="https://vuejs.org">Vue.js</HintLink>
		on the front-end, and
		<HintLink href="https://nodejs.org">Node.js</HintLink> (of course with TypeScript) on the back-end.
		The products are web apps, and we use
		<HintLink href="https://cordova.apache.org">Apache Cordova&trade;</HintLink> to wrap them in iOS
		and Android app shells for better device features.
	</p>
	<p
		>Unfortunately, the company's code is closed-source. You can check out their
		<Link href="https://inventoryshield.com">inventory management</Link>
		and
		<Link href="https://referralreactor.com">referral management</Link>
		products at their respective sites.</p
	>
</Layout>
