---
import type { AstroInstance } from "astro";
import { getCollection } from "astro:content";
import { Temporal } from "temporal-polyfill";
import Layout from "@/layouts/Layout.astro";
import LocalLink from "@/components/LocalLink.astro";

function titleCase(text: string): string {
	if (!text) return text;
	const first = text[0]?.toLocaleUpperCase() ?? "";
	return first.concat(text.slice(1));
}

function title(url: string): string {
	if (url.length === 0) return "About";
	if (url.startsWith("/")) return titleCase(url);
	return titleCase(url);
}

function isDefined<T>(tbd: T | undefined): tbd is T {
	return tbd !== undefined;
}

const waysCollection = await getCollection("ways");
const waysEntries = waysCollection.sort((a, b) => {
	// Chronologically
	return Temporal.PlainDate.compare(a.data.date, b.data.date);
});

const markdownPages = import.meta.glob<AstroInstance>("/src/pages/*.md", { eager: true });
const markdownEntries = Object.values(markdownPages);

const txtEntries = ["humans.txt"];

const astroPages = import.meta.glob<AstroInstance>("/src/pages/**/*.astro", { eager: true });
const pages = Object.values(astroPages)
	.concat(Object.values(markdownEntries))
	.map(entry => entry.url)
	.filter(isDefined)
	.map(url => {
		// Break off the slash and the file extension
		return url.split(".").slice(0, -1).join("").slice(1);
	})
	.filter(url => {
		// Ignore collection slug files
		return !url.includes("[slug]");
	})
	.filter(url => {
		return url !== "404";
	})
	.concat(txtEntries)
	.sort();

function sortedByDate(coll: Readonly<typeof waysEntries>): typeof waysEntries {
	return coll.toSorted((a, b) => {
		const aDate = Temporal.PlainDate.from(a.data.date);
		const bDate = Temporal.PlainDate.from(b.data.date);
		return Temporal.PlainDate.compare(aDate, bDate); // ascending order
	});
}
---

<Layout>
	<h1 id="site-map">Site Map</h1>
	<ul>
		{
			pages.map(p =>
				// eslint-disable-next-line @typescript-eslint/no-unsafe-return
				p === "ways" ? (
					<li>
						<LocalLink fileName="ways">Ways</LocalLink>
						<ul>
							{sortedByDate(waysEntries).map(w => (
								// eslint-disable-next-line @typescript-eslint/no-unsafe-return
								<li>
									<LocalLink fileName={`ways/${w.id}`}>{w.data.title}</LocalLink>
								</li>
							))}
						</ul>
					</li>
				) : (
					<li>
						<LocalLink fileName={p}>{title(p)}</LocalLink>
					</li>
				),
			)
		}
	</ul>
</Layout>
