---
import Layout from "@/layouts/Layout.astro";
import LocalLink from "@/components/LocalLink.astro";
import ExternalLink from "@/components/ExternalLink.astro";

// TODO: List examples of my work?
// TODO: Generate this from resume.json
---

<Layout>
	<h1>Hire me</h1>

	<p
		>If you have some open-source computer work you want me to do, <!-- prettier-ignore -->
		<LocalLink fileName="/contact">contact me</LocalLink> and we'll work something out!</p
	>

	<h2>Portfolio</h2>

	<p
		>For examples of my work and latest projects, check out <!-- prettier-ignore -->
		<ExternalLink href="https://git.average.name/AverageHelper?tab=repositories">my git forge</ExternalLink>.</p
	>

	<h2>Skills</h2>

	<p>My skills include, but are not limited to:</p>

	<h3>Web Development</h3>
	<ul class="word-list">
		<li>TypeScript</li>
		<li>Svelte</li>
		<li>Vue.js</li>
		<li>React</li>
		<li>Node.js</li>
		<li>Express.js</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>JavaScript</li>
		<li>JSON</li>
	</ul>

	<h3>Systems Languages</h3>
	<ul class="word-list">
		<li>Swift</li>
		<li>C++</li>
		<li>Python</li>
	</ul>

	<h3>DevOps</h3>
	<ul class="word-list">
		<li>Git</li>
		<li>Forgejo</li>
		<li>Gitea</li>
		<li>GitLab</li>
		<li>Bitbucket</li>
		<li>GitHub</li>
		<li>Conventional Commits</li>
		<li>Keep-a-Changelog</li>
		<li>VS Codium</li>
		<li>Vite</li>
		<li>Prettier</li>
		<li>ESLint</li>
		<li>TypeScript</li>
		<li>Xcode</li>
		<li>SwiftLint</li>
		<li>Swift Package Manger</li>
		<li>CocoaPods</li>
		<li>Bash</li>
		<li>Zsh</li>
	</ul>

	<h3>Databases and Search</h3>
	<ul class="word-list">
		<li>SQL</li>
		<li>MongoDB</li>
		<li>Postgres</li>
		<li>Algolia</li>
	</ul>

	<h3>Mobile Development</h3>
	<ul class="word-list">
		<li>iOS</li>
		<li>Android</li>
		<li>Swift</li>
		<li>Objective-C</li>
		<li>Java</li>
	</ul>

	<h3>Automated Testing</h3>
	<ul class="word-list">
		<li>Vitest</li>
		<li>Jest</li>
		<li>Cypress</li>
		<li>Nightwatch</li>
		<li>XCTest</li>
	</ul>

	<h3>Self-hosted services</h3>
	<ul class="word-list">
		<li>Forgejo</li>
		<li>NextCloud</li>
		<li>Unraid</li>
	</ul>
</Layout>
