---
import type { HTMLAttributes } from "astro/types";

const emojiMap = {
	heart: 10084,
	blush: 128522,
} as const;

interface Props extends Omit<HTMLAttributes<"a">, "class"> {
	name: keyof typeof emojiMap;
}

const { name, ...attrs } = Astro.props;
const id = emojiMap[name];
---

<span class="emoji" {...attrs}>&#{id};</span>
