---
/**
 * Similar to https://github.com/florianeckerstorfer/remark-a11y-emoji
 */

import type { HTMLAttributes } from "astro/types";

// Get labels from https://github.com/wooorm/gemoji/blob/main/index.js
const emojiMap = {
	heart: { id: 10084, label: "red heart" },
	blush: { id: 128522, label: "smiling face with smiling eyes" },
} as const;

interface Props extends Omit<HTMLAttributes<"a">, "class"> {
	name: keyof typeof emojiMap;
}

const { name, ...attrs } = Astro.props;
const { id, label } = emojiMap[name];
---

<span class="emoji" role="img" aria-label={label} {...attrs}>&#{id};</span>
