---
import Link from "./Link.astro";
import LocalLink from "./LocalLink.astro";
---

<footer>
	<ul>
		<li><Link href="https://git.average.name/AverageHelper/portfolio">View Source</Link></li>
		<li><Link href="/humans.txt">humans.txt</Link></li>
		<li><LocalLink fileName="contact">Contact</LocalLink></li>
	</ul>
	<p>:3</p>
</footer>
