---
import ExternalLink from "./ExternalLink.astro";
import LocalLink from "./LocalLink.astro";
---

<footer>
	<ul class="links">
		<li>
			<!-- prettier-ignore -->
			<ExternalLink href="https://git.average.name/AverageHelper/portfolio">source</ExternalLink>
		</li>
		<li><LocalLink fileName="sitemap">sitemap</LocalLink></li>
		<li><LocalLink fileName="support">support</LocalLink></li>
		<li>
			<!-- prettier-ignore -->
			<LocalLink fileName="humans.txt">
				<!-- Badge via Cadence: https://cadence.moe/blog/2024-10-05-created-by-a-human-badges -->
				<img src="/images/created-by-a-human.svg" alt="Created by a human with a heart" />
			</LocalLink>
		</li>
	</ul>
</footer>
