---
import Link from "./Link.astro";
import LocalLink from "./LocalLink.astro";
import Logo from "./Logo.astro";
---

<footer>
	<ul class="links">
		<li><Link href="https://git.average.name/AverageHelper/portfolio">source</Link></li>
		<li><Link href="/humans.txt">humans.txt</Link></li>
		<li><LocalLink fileName="ways">Ways</LocalLink></li>
	</ul>

	<ul id="contact">
		<li>
			<Link
				relMe
				href="https://git.average.name/AverageHelper"
				data-tooltip="git.average.name/AverageHelper"
			>
				<Logo key="forgejo" />
			</Link>
		</li>
		<li>
			<Link
				relMe
				href="https://codeberg.org/AverageHelper"
				data-tooltip="codeberg.org/AverageHelper"
			>
				<Logo key="codeberg" />
			</Link>
		</li>
		<li>
			<Link relMe href="https://github.com/AverageHelper" data-tooltip="github.com/AverageHelper">
				<Logo key="github" />
			</Link>
		</li>
		<li>
			<!-- Eventually I want @avg@average.name... -->
			<Link relMe href="https://fosstodon.org/@avghelper" data-tooltip="fosstodon.org/@avghelper">
				<Logo key="fedi" />
			</Link>
		</li>
	</ul>
</footer>
