---
import ExternalLink from "./ExternalLink.astro";
import LocalLink from "./LocalLink.astro";
---

<footer>
	<ul class="links">
		<li>
			<!-- prettier-ignore -->
			<ExternalLink href="https://git.average.name/AverageHelper/portfolio">source</ExternalLink>
		</li>
		<li><LocalLink fileName="sitemap">sitemap</LocalLink></li>
		<li><LocalLink fileName="humans.txt">humans.txt</LocalLink></li>
		<li><LocalLink fileName="contact">contact</LocalLink></li>
	</ul>
</footer>
