---
import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"a">, "target" | "rel"> {
	href: string | URL;

	/**
	 * Whether the `rel` attribute should include the special `"me"` value.
	 *
	 * @default false
	 */
	relMe?: boolean;
}

const { href, relMe = false, ...attrs } = Astro.props;

const rel = `noopener noreferrer${relMe ? " me" : ""}`;
---

<a href={href} target="_blank" rel={rel} {...attrs}><slot /></a>
