---
import type { HTMLAttributes } from "astro/types";
import { checkUrl } from "@/helpers/checkUrl.js";

interface Props extends Omit<HTMLAttributes<"a">, "target" | "rel"> {
	href: string | URL;

	/**
	 * Whether the `rel` attribute should include the special `"me"` value.
	 *
	 * @default false
	 */
	relMe?: boolean;
}

const { href, relMe = false, ...attrs } = Astro.props;

const rel = `noopener noreferrer${relMe ? " me" : ""}` as const;

// Ensure external links aren't broken
if (URL.canParse(href)) {
	const src = new URL(href);
	await checkUrl(src);
}
---

<a href={href} target="_blank" rel={rel} {...attrs}><slot /></a>
