---
import Link from "@/components/Link.astro";
import LocalLink from "@/components/LocalLink.astro";
---

<nav>
	<ul>
		<li><LocalLink fileName="index">About</LocalLink></li>
		<li><LocalLink fileName="support">Support</LocalLink></li>
		<li><Link href="https://git.average.name/AverageHelper">Code</Link></li>
		<li><Link href="https://blog.average.name">Blog</Link></li>
	</ul>
</nav>
