---
import ExternalLink from "@/components/ExternalLink.astro";
import LocalLink from "@/components/LocalLink.astro";
---

<nav>
	<ul>
		<slot>
			<li><LocalLink>About</LocalLink></li>
			<li><LocalLink fileName="links">Links</LocalLink></li>
			<li><ExternalLink href="https://git.average.name/AverageHelper">Code</ExternalLink></li>
			<li><LocalLink fileName="contact">Contact</LocalLink></li>
		</slot>
	</ul>
</nav>
