---
import type { HTMLAttributes } from "astro/types";
import Link from "@/components/Link.astro";

interface Props extends HTMLAttributes<"div"> {
	name: string;
	href: string;
}
const { href, name, ...attrs } = Astro.props;
---

<div {...attrs}>
	<strong><Link href={href}>{name}</Link></strong> &ndash; <slot />
</div>
