{% from "_link.njk" import link %}
{% from "_pageLink.njk" import pageLink %}

<ul>
	<li>{{ link("https://git.average.name/AverageHelper/portfolio", "View Source") }}</li>
	<li>{{ link("/humans.txt", "humans.txt") }}</li>
	<li>{{ pageLink(template.slug, "contact") }}</li>
</ul>
