{% extends "_layout.njk" %}

{% from "_link.njk" import link, hint, relMe, mailto %}

{% block content %}
<h1 id="about">About Myself</h1>
<p>
	I go by "Average Helper" online, partly because my name is super generic. An average name,
	really. I've been doing software things since 2011. I try to be helpful where I can,
	especially to write respectful software.
</p>

<hr />

<h2 id="projects">Stuff I do for fun</h2>
<p>
	Here's just a few things I worked on myself that I'm proud of. The code is spread around {{ link("https://git.average.name/AverageHelper", "my Forgejo instance") }}, {{ 
		link("https://codeberg.org/AverageHelper", "Codeberg") }}, and {{
		link("https://github.com/AverageHelper", "GitHub") }}.
</p>

<ul>
	<li>
		<strong>{{ link("https://github.com/AverageHelper/Gamgee", "Gamgee") }}</strong>
		&ndash; A fun little Discord bot to help manage a music queue for public DJ events.
		Written in {{ hint("https://www.typescriptlang.org", "TypeScript") }}.
	</li>
	<li>
		<strong>{{ link("https://codeberg.org/AverageHelper/meta-comments", "meta-comments") }}</strong>
		&ndash; The first VS Code plugin I ever published! It decorates code based on
		specially-formatted comments.
	</li>
	<li>
		<strong>{{ link("https://github.com/AverageHelper/ItemEncryptor", "ItemEncryptor") }}</strong>
		&ndash; A {{ hint("https://www.swift.org", "Swift") }} package to make
		data encryption easy. I use this in some of my smaller projects to
		facilitate end-to-end encryption of sensitive data.
	</li>
	<li>
		<strong>{{ link("https://recorded.finance", "Recorded Finance") }}</strong>
		&ndash; An {{ hint("https://en.wikipedia.org/wiki/End-to-end_encryption", "end-to-end encrypted") }}
		finance app for keeping track of account balances. I had a version of this written for iOS
		in Swift, but I've began to port that project to the web for better cross-platform
		compatibility and accessibility. The project is still in its infant stages, with several
		front-end glitches I want to fix before I "release" the project into the wild. The
		front-end is written in {{ hint("https://svelte.dev", "Svelte") }}, with {{
			hint("https://www.typescriptlang.org", "TypeScript")
		}} on the front- and back-end.
	</li>
	<li>
		<strong>{{ link("https://apps.apple.com/us/app/trump-donald/id1036041535", "Trump Donald") }}</strong>
		&ndash; An iOS application based on the game {{ hint("https://en.wikipedia.org/wiki/Whac-A-Mole", "Whac-a-mole")
		}}.
	</li>
	<li>
		<strong>{{ link("https://blog.average.name", "My blog") }}</strong>
		&ndash; An experiment to see how GitHub Pages work. I post ramblings there from time to
		time. The posts are written in {{ hint("https://www.markdownguide.org", "Markdown") }},
		and the site is generated automagically using {{ hint("https://www.zola.com", "Zola") }}.
	</li>
</ul>

<hr />

<h2 id="experience">Stuff I get paid for</h2>
<p>
	My personal work is mainly with open-source projects and mobile applications. Since starting
	at {{ link("https://inventoryshield.com", "Inventory Shield, LLC") }}
	in 2018, I began working with web technologies. Inventory Shield's tech stack is {{
		hint("https://www.typescriptlang.org", "TypeScript")
	}} and {{
		hint("https://vuejs.org", "Vue.js")
	}} on the front-end, and {{
		hint("https://nodejs.org", "Node.js")
	}} (of course with TypeScript) on the back-end. The products are web apps, and we use {{
		hint("https://cordova.apache.org", "Apache Cordova&trade;")
	}} to wrap them in iOS and Android app shells for better device features.
</p>
<p
	>Unfortunately, the company's code is closed-source. You can check out their
	{{ link("https://inventoryshield.com", "inventory management") }}
	and
	{{ link("https://referralreactor.com", "referral management") }}
	products at their respective sites.</p
>

<hr />

<h1 id="contact">Contact</h1>
<p>If you must reach me, I'm often found in these places:</p>

<ul class="contact">
	<li>
		<a href="https://codeberg.org/AverageHelper" target="_blank" rel="noopener noreferrer me" aria-hidden="true">
			<img class="logo codeberg" src="/images/codeberg-logo.svg" alt="Codeberg's logo" />
		</a>
		<a class="link" href="https://codeberg.org/AverageHelper" target="_blank" rel="noopener noreferrer me">codeberg.org/<strong>AverageHelper</strong></a>
	</li>
	<li>
		<a href="https://github.com/AverageHelper" target="_blank" rel="noopener noreferrer me" aria-hidden="true">
			<svg class="svg logo github" viewBox="0 0 16 16" width="28" height="28">
				<path fill="currentColor" d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
			</svg>
		</a>
		<a class="link" href="https://github.com/AverageHelper" target="_blank" rel="noopener noreferrer me">github.com/<strong>AverageHelper</strong></a>
	</li>
	<li>
		<!-- Eventually I want @avg@average.name... -->
		<a href="https://fosstodon.org/@avghelper" target="_blank" rel="noopener noreferrer me" aria-hidden="true" >
			<img class="logo fosstodon" src="/images/fosstodon-logo.png" alt="Fosstodon's logo" />
		</a>
		<a class="link" href="https://fosstodon.org/@avghelper" target="_blank" rel="noopener noreferrer me">fosstodon.org/<strong>@avghelper</strong></a>
	</li>
	<li>
		<a href="mailto:avghelper.5fh6g@simplelogin.co" aria-hidden="true">
			<svg class="svg logo email" viewBox="0 0 28 28" width="28" height="28">
				<path fill="currentColor" d="M12 2.02c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 12.55L6.008 8h11.983L12 12.57zm0 1.288L6 9.229V16h12V9.229l-6 4.629z"/>
			</svg>
		</a>
		<a class="link" href="mailto:avghelper.5fh6g@simplelogin.co">avghelper.5fh6g@simplelogin.co</a>
	</li>
</ul>
{% endblock %}
