{% extends "_layout.njk" %}

{% from "_link.njk" import link %}

{% block content %}
<h1 id="support-and-funding">Support and Funding</h1>
<p>Thanks for being here!</p>
<p
	>I write software for fun. If that software makes someone's life easier along the way, all
	the better! <span class="emoji">&#10084;</span> I started writing software in 2014, began
	working on >open source in 2016, and finally figured git out in 2018. Nearly all of the
	software I use in my day-to-day life is open source. I hope to work full time on open source
	software one day, but my employer right now is entirely closed-source, servers aren't free,
	and devs need to eat. Until I can make a living on FOSS, my time and ability to contribute
	to other projects are very limited.</p
>

<hr />

<h2 id="funding">How to fund me</h2>
<p
	>While my part-time job pays the bills with a little room for fun, donations will let me
	spend more time contributing to projects I care about, and projects of my own that I think
	might be useful.</p
>
<p
	>For now, donation options are limited. You can support me on {{
		link("https://liberapay.com/avg", "Liberapay")
	}} while I'm working on adding more options (such as {{
		link("https://ko-fi.com/avghelper", "Ko-fi")
	}}).</p
>

<hr />

<h2 id="consequences">What your funding will do</h2>
<p>Every little bit counts!</p>

<ul>
	<li
		>Cover server hosting costs (for {{
			link("https://recorded.finance", "Recorded Finance")
		}} especially)</li
	>
	<li>Help cover living expenses</li>
	<li>Help me support other FOSS projects</li>
</ul>

<p
	>As always, I'm always happy to receive contributions to my open-source projects. Issues and
	PRs are always welcome! <span class="emoji">&#128522;</span></p
>
{% endblock %}
