---
import "../styles/variables.css";
import "../styles/colors.css";
import "../styles/typography.css";
import "../styles/style.css";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="noai" />
		<title>An Average Developer</title>
		<link rel="icon" type="image/png" href="data:image/png;base64," />
		<link rel="author" href="humans.txt" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en" />
		<meta property="og:url" content="https://average.name" />
		<meta property="og:title" content="An Average Developer" />
		<meta property="og:description" content="Helpful open-source software." />
		<meta property="description" content="Helpful open-source software." />
		<meta name="twitter:card" content="summary" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<Header />
		<main class="content">
			<slot>
				<h1 id="missing-content">Something Went Wrong</h1>
				<p>This page generated without any content!</p>
			</slot>
			<hr />
		</main>
		<Footer />
	</body>
</html>
