---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>An Average Developer</title>
		<link rel="icon" type="image/png" href="data:image/png;base64," />
		<link rel="author" href="humans.txt" />
		<link rel="stylesheet" type="text/css" href="/styles/variables.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/styles/colors.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/styles/typography.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen" />
	</head>
	<body>
		<Header />
		<main class="content">
			<slot>
				<h1 id="missing-content">Something Went Wrong</h1>
				<p>This page generated without any content!</p>
			</slot>
		</main>
		<Footer />
	</body>
</html>
