---
import Layout from "./Layout.astro";
import LocalLink from "@/components/LocalLink.astro";

interface Props {
	/**
	 * The content title.
	 */
	title?: string;

	/**
	 * The content description.
	 */
	description?: string;
}

const { title = "Average Ways Folder", description = "Helpful information on how to do things." } =
	Astro.props;
---

<Layout contentClass="ways content" title={title} description={description}>
	<slot name="header" slot="header" />

	<slot />

	<slot name="footer" slot="footer">
		<footer>
			<ul class="links">
				<li><LocalLink>Home</LocalLink></li>
				<li><LocalLink fileName="ways/feed.xml">RSS</LocalLink></li>
			</ul>
		</footer>
	</slot>
</Layout>
